# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.json

# IntelliJ Related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code Related
.vscode/

# Flutter/Dart Related
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/drawable-*/
**/android/app/src/main/res/mipmap-*/
**/android/app/src/main/res/values/strings.xml
**/*.jks
**/*.keystore
**/*.apk
**/*.aab

# Web Related
**/web/assets/
**/web/index.html.d
